@{
    ViewData["Title"] = "Home Page";
}

<div class="text">
    <div class="text-hello">
        <h1>Добро пожаловать!</h1>
    </div>
    <div class="text-next">
        <h1 class="fontS">Здесь вы можете:</h1>
        <ul class="textList">
            <li>СДЕЛАТЬ ЗАКАЗ НА ДОСТАВКУ ГРУЗА</li>
            <li>ПОСМОТРЕТЬ СПИСОК ЗАКАЗОВ</li>
        </ul>
    </div>
</div>
